<h2 >{{subHeader}}</h2>
<div *ngIf="employee">
    <table class="table" style="width: 30%;">
        <tr>
            <td>EMPLOYEE ID :</td>
            <td>{{employee.employee_id}}</td>
        </tr>
        <tr>
            <td>FIRST NAME :</td>
            <td>{{employee.first_name}}</td>
        </tr>
        <tr>
            <td>LAST NAME :</td>
            <td>{{employee.last_name}}</td>
        </tr>
        <tr>
            <td>EMAIL :</td>
            <td>{{employee.email}}</td>
        </tr>

        <tr>
            <td>PHONE NUMBER :</td>
            <td>{{employee.phone_number}}</td>
        </tr>

        <tr>
            <td>HIRE DATE :</td>
            <td>{{employee.hire_date}}</td>
        </tr>
        <tr>
            <td>JOB ID :</td>
            <td>{{employee.job_id}}</td>
        </tr>
        <tr>
            <td>SALARY :</td>
            <td>{{employee.salary}}</td>
        </tr>
        <tr>
            <td>COMMISSION PCT :</td>
            <td>{{employee.commission_pct}}</td>
        </tr>
        <tr>
            <td>MANAGER ID :</td>
            <td>{{employee.manager_id}}</td>
        </tr>
        <tr>
            <td>DEPARTMENT ID :</td>
            <td>{{employee.department_id}}</td>
        </tr>
    </table>
</div>

