<h2 >{{subHeader}}</h2>
<div *ngIf="job">
    <table class="table" style="width: 30%;">
        <tr>
            <td>JOB ID :</td>
            <td>{{job.job_id}}</td>
        </tr>
        <tr>
            <td>JOB TITLE :</td>
            <td>{{job.job_title}}</td>
        </tr>
        <tr>
            <td>MIN SALARY :</td>
            <td>{{job.min_salary}}</td>
        </tr>
        <tr>
            <td>MAX SALARY :</td>
            <td>{{job.max_salary}}</td>
        </tr>

    </table>

    <back-or-edit [id]="job.job_id" [linkTo]="linkTo" ></back-or-edit>
</div>

