<ul class="nav nav-sidebar">
  <li routerLinkActive="active">
    <a routerLink="/employees">Employees</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/countries" >Countries</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/departments">Departments</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/jobs">Jobs</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/locations">Locations</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/regions">Regions</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/history">History</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="/persons">Persons</a>
  </li>
</ul>