<h2 >{{subHeader}}</h2>
<div *ngIf="countrie">
    <table class="table" style="width: 30%;">
        <tr>
            <td>COUNTRY ID :</td>
            <td>{{countrie.country_id}}</td>
        </tr>
        <tr>
            <td>COUNTRIE TITLE :</td>
            <td>{{countrie.country_name}}</td>
        </tr>
        <tr>
            <td>REGION ID :</td>
            <td>{{countrie.region_id}}</td>
        </tr>
    </table>
    <back-or-edit [id]="countrie.country_id" [linkTo]="linkTo" ></back-or-edit>
</div>

