<h2 >{{subHeader}}</h2>
<div *ngIf="department">
    <table class="table" style="width: 30%;">
        <tr>
            <td>DEPARTMENT_ID</td>
            <td>{{department.department_id}}</td>
        </tr>
        <tr>
            <td>DEPARTMENT_NAME</td>
            <td>{{department.department_name}}</td>
        </tr>
        <tr>
            <td>MANAGER_ID</td>
            <td>{{department.manager_id}}</td>
        </tr>
        <tr>
            <td>LOCATION_ID</td>
            <td>{{department.location_id}}</td>
        </tr>
    </table>
</div>


